@{
	ViewBag.Title = "Duffy's Tavern";
}

<img src="./Content/duffystavern.jpg" style="max-height:80vh; max-width:100%;" />
<h1>
	<a href="https://goo.gl/maps/jLnksCffaiA2" style="color:white; text-decoration:none">Map</a>
</h1>