<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
		<style>
            body{
                background:#0A0905;  
			    text-align:center;
			}

			img{
                width:50%;
			max-height:100vh;
			}
		</style>
</head>
<body>
    @RenderBody()
</body>
</html>
