<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
		<style>
            body{
                background:#0A0905;  
			    text-align:center;
			}

			img{
			    max-height:100vh;
			}
			
			@@media only screen and (max-width: 500px) {
                img{
                    width:100%;
			    }
			}
		</style>
</head>
<body>
    @RenderBody()
</body>
</html>
